<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>All Users</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 20px;
    }

    table {
      border-collapse: collapse;
      width: 100%;
      margin-bottom: 20px;
    }

    th, td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    }

    th {
      background-color: #f2f2f2;
    }

  </style>
</head>
<body>
<table border="1">
  <thead>
  <tr>
    <th>Id</th>>
    <th>Name</th>
    <th>last_name</th>
    <th>Email</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="user : ${user}">
    <td th:text="${user.id}"></td>
    <td th:text="${user.name}"></td>
    <td th:text="${user.last_name}"></td>
    <td th:text="${user.email}"></td>
  </tr>
  </tbody>
</table>
<a href="/users" class="btn btn-secondary mt-3">Back to Users List</a>
<br>

</body>
</html>